@using CalismaProje.Models
@model Product

<div class="card cont">
    <img class="card-img-top" src="~/img/resim.jpeg">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
    <a href="#" class="btn btn-primary">İncele</a>
    </div>
</div>