@model CalismaProje.ViewModels.ProductViewModel

@* @{
    Layout=("~/Views/Shared/Components/_Layout.cshtml");
} *@

@section MessageBox
{
    <div class="alert alert-warning text-center m-0">
        Mesajınız var!
    </div>
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">
        PRODUCT INDEX PAGE
    </div>
</div>